.box {
  display: inline-block;
  border: 0.1rem dashed rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -0.1rem;
  margin-bottom: -0.1rem;
  transition: all 0.3s;
}

.off {
  background-color: transparent;

  transform: scale(0.9);
}

.on {
  background-color: #ff636e;
  transform: scale(1);
}

.box:hover {
  background: #ff636e;
}
