.box {
  display: inline-block;
  border: 0.1rem solid black;
  border-radius: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -0.1rem;
  margin-bottom: -0.1rem;
  transition: all 0.2s;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: #63fffc;
}

.box:hover {
  background: #00ccff;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}
