.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  button {
    width: 20%;
    padding: 1%;
    border: none;
    cursor: pointer;
    margin: 0.5rem 0.1rem;
  }

  .control-pannel {
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: center;
    align-items: center;
    .game-control,
    .speed-controls,
    .preset-patterns,
    .grid-size {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
